.gradle/
captures/
local.properties
GeneratedPluginRegistrant.java
.cxx/

# ไม่ควร ignore gradlew และ gradlew.bat
# gradlew
# gradlew.bat

# Keystore (อย่าใส่ขึ้น Git เด็ดขาด)
key.properties
**/*.keystore
**/*.jks
